/* stylelint-disable custom-property-pattern */

.from-input {
  border-width: 1px;
  border-style: solid;
  border-color: var(--ui-border-accented);
  border-radius: calc(var(--ui-radius) * 1.5);
  background-color: var(--ui-bg);
  outline: none;
  padding: calc(var(--spacing) * 4);
  width: 100%;

  &:focus {
    border-color: var(--ui-primary);
  }
}

.from-input:read-only, .from-input:disabled {
  background-color: var(--ui-bg-muted);
  cursor: not-allowed;
}

.form-input-icon,
.form-input-floating {
  position: relative;
}

.form-input-icon .from-input {
  padding-left: calc(var(--spacing) * 12)!important;
}

.form-input-icon .input-icon {
  position: absolute;
  left: calc(var(--spacing) * 4);
  top: calc(1 / 2 * 100%);
  transform: translateY(-50%);
}

.form-input-floating .from-input {
  padding-inline: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 1);
  height: calc(var(--spacing) * 14);

  &::file-selector-button {
    display: none;
  }

  &[type="file"] {
    padding-top: calc(var(--spacing) * 5);
  }
}

.form-input-floating label {
  position: absolute;
  inset-inline-start: calc(var(--spacing) * 4);
  top: calc(var(--spacing) * 2);
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  transition: all 0.1s;
  color: var(--ui-text-muted);

  &:is(:where(.peer):placeholder-shown ~ *) {
    top: calc(var(--spacing) * 4.5);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  &:is(:where(.peer):autofill ~ *),
  &:is(:where(.peer):focus ~ *) {
    top: calc(var(--spacing) * 2);
    color: var(--ui-primary);
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
  }
}

.form-input-group {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.form-input-group > :first-child:not(.form-input-floating) {
  padding: 0.5rem 1rem;
  background-color: var(--ui-bg-elevated);
  display: flex;
  align-items: center;
  border-radius: calc(var(--ui-radius) * 1.5) 0 0 calc(var(--ui-radius) * 1.5);
  border-width: 1px;
  border-style: solid none solid solid;
  border-color: var(--ui-border-accented);
}

.form-input-group > .form-input-floating {
  flex: 1;
  width: 100%;
}

.form-input-group > .form-input-floating:last-child > .from-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-input-group > .form-input-floating:first-child > .from-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  margin-left: -1px;
}
